.form-group {
    margin-bottom: 3rem;

    &.mod-action {
        text-align: right;
        margin-top: 4rem;
    }
}

.form-control-desc {
    display: block;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 2rem;
    border: 0;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    outline: 0;

    &:focus {
        box-shadow: 0 0 1.5rem rgba(116, 189, 255, .5);
    }

    &.mod-icon {
        padding-right: 5rem;
    }

    &.mod-error {
        box-shadow: 0 0 1.5rem rgba(#bf517d, .3);
    }
}
 
.form-error {
    color: #bf517d;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-control-icon {
    color: #aaa;
    cursor: pointer;
    position: absolute;
    margin: 1.5rem 0 0 -4rem;
    width: 2rem;
}

.form-action {
    background: linear-gradient(#3ec59f, #39bf99);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

