@import './variables.scss';

.form-group {
    margin-bottom: 3rem;
    position: relative;

    &.mod-action {
        text-align: right;
        margin-top: 4rem;
    }
}

.form-control-desc {
    display: block;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 2rem;
    border: 0;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    outline: 0;

    &:focus {
        box-shadow: 0 0 1.5rem rgba($color-blue, .5);
    }

    &.mod-password {
        letter-spacing: .4rem;

        &[type="text"] {
            letter-spacing: .2rem;
        }
    }

    &::placeholder {
        letter-spacing: normal;
    }

    &.mod-error {
        box-shadow: 0 0 1.5rem rgba($color-red, .3);
    }
}
 
.form-control-error {
    color: $color-red;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-control-icon {
    color: #aaa;
    cursor: pointer;
    right: 0;
    position: absolute;
    margin: 1.5rem 2rem 0 0;
    width: 2rem;

    & ~ .form-control {
        padding-right: 5rem;
    }

    & + .form-control-icon {
        margin: 1.5rem 6rem 0 0;

        & ~ .form-control {
            padding-right: 10rem;
        }
    }
}

.form-action {
    background: linear-gradient(lighten($color-green, 2.5%), $color-green);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 1.5rem;

    &:last-of-type {
        margin-right: 0;
    }

    &.mod-confirm {
        display: block;
        width: 100%;
    }
}

.boxes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.box-item {
    display: flex;
    align-items: center;

    & + .box-item:last-of-type {
        padding-bottom: 1rem;
    }
}

.item-name {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0;

    &.mod-title {
        cursor: pointer;
        font-weight: 600;
        padding: 2rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &.mod-password {
        font-size: 2.2rem;
        letter-spacing: .25rem;
    }
}

.item-action {
    cursor: pointer;
    box-sizing: content-box;
    padding: 1rem;
    border-radius: .5rem;
    color: #aaa;

    &:last-of-type {
        margin-right: 1rem;
    }

    &:hover {
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    }

    &.mod-edit {
        color: $color-blue;

        &:hover {
            background: $bg-blue;
        }
    }

    &.mod-delete {
        color: $color-red;

        &:hover {
            background: $bg-red;
        }
    }
}

